/*
author:Joseph Daniel;
theme:food order website;
version:1.0; 
*/
*{
       margin: 0;
       padding: 0;
       font-family: Georgia, 'Times New Roman', Times, serif;
       
}
.tbl{
       width: 100%;
}
.tbl-name{
       width: 30%;
}
table tr th{
       border-bottom: 1px solid black;
       padding: 1%;
       text-align: left
}
.btn-primary{
       background-color: #1e90ff;
       border-radius: 30%;
       padding: 0.8%;
       font-size: 20px;
       color: white;
       text-decoration: none;
       font-weight: bold;
       
}
.btn-primary:hover{
       background-color: aqua;
}
.btn-secondary{
       background-color: green;
       border-radius: 30%;
       padding: 0.8%;
       font-size: 20px;
       color: white;
       text-decoration: none;
       font-weight: bold;
       
}
.btn-secondary:hover{
       background-color: greenyellow;
}
.btn-unique{
       background-color: #ff4757;
       border-radius: 30%;
       padding: 0.8%;
       font-size: 20px;
       color: white;
       text-decoration: none;
       font-weight: bold;
       
}
.btn-unique:hover{
       background-color:peru ;
}
table tr td{
       padding: 1%;
}
.wrapper{
   padding: 1%; 
   width: 80%;
   margin: 0 auto;

}
.text-class{
       text-align: center;
}
.footer{
       background-color: #ff4757;
       color: white;
       
       
}

.menu ul{
       list-style-type: none;
}
.menu ul li{
       display: inline;
       padding: 1%;
}
.menu ul li a{
       text-decoration: none;
       color: #ff4757;
       font-weight: bold;
}
.menu ul li a:hover{
       color: #ff6b81;
}
/*css for main content*/
.main-content{
margin: 1% 0;
background-color: #f1f2f6;
padding: 3% 0;

}
.col-4{
 width: 20%;      
       background-color: white;
       margin: 1%;
       padding: 2%;
       float: left;
       width: 18%;
}
.clearfix{
       float: none;
       clear: both;
}